.my{
  background-color: #ccc;
}
.myTop{
  background-color: red;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
}
.mytopl>img{
  width: 80px;
  margin-left: 10px;
}
.mytopl>p{
  color:#fff;
  font-size: 18px;
}
.mytopl>span{
  text-align: center;
  display: block;
  width: 100px;
  line-height: 30px;
  color:#fff;
  border:1px solid #fff;
  border-radius: 8px;
}
.mytopr{
  margin:0 50px;
padding-left: 10px;
  width: 70px;
  border:1px solid #fff;
  border-radius: 8px;
  height: 30px;

}
.mytopr>img{
  margin-top: 20px;
}
.mytopr>span{
  color:#fff;
}
.mymin>div{
  display: flex;
  padding: 20px 0;
  background-color: #fff;
  border-bottom:1px solid #ccc;
}
.mymin>div:nth-child(2),.mymin>div:nth-child(5){
  border-bottom:10px solid #ccc;
}
.mymin>div:nth-child(8){
  margin-bottom: 100px;
}
.mytopl a{
  color:#fff;
}
.mymin>div>div{
  margin-left: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.mymin>div>img{
  margin-left: 30px;
}
.mymin>div>img,.mymin>div>div>img{
  width: 30px;
  height: 30px;
}
