.cardTop{
  display: flex;
  background-color: red;
  justify-content: flex-start;
  padding: 10px 0;
}
.cardTop>img{
  margin-right: 27%;
  width: 40px;
  height: 40px;
}
.cardTop>h1{
  color:#fff;
}
.cardbanner>img{
  width: 100vw;
height: 300px;
}
